body {
    background: #003554;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333; /* Texto oscuro para una buena legibilidad */
}

#presentacion {
    background: #b1d7e8;
    color: black;
    padding: 20px;
    margin: 20px;
    border-bottom: double 3px #e7ecef;
    content-visibility: visible;
}

#logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

#nombre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 20px;
    color: #008000
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    color: rgb(8, 101, 181);
    margin: 0;
}

.subtitulo {
    color: black;
    margin: 5px 0;
}

#Virtual-Medical-Appointments {
    width: 300px;
    height: 50px;
    background: #8093f1;
    border: solid 1px black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Esto centra el botón horizontalmente */
    cursor: pointer;
}

#Virtual-Medical-Appointments:hover {
    background: #e0e0e0;
}

#terapias {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.terapia-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 1200px;
}

.terapia {
    flex: 1 1 calc(33.333% - 20px);
    padding: 10px;
    margin: 5px;
    background-color: #8093f1;
    border: solid 1px black;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
}

.terapia:hover {
    background-color: #e0e0e0;
}

#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    border-top: double 3px #e7ecef;
    margin: 20px;
}

#contacto p {
    margin: 10px 0;
}